* {
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: tomato;
}

#center-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 5px solid black;
    background-color: snow;
    box-shadow: rgba(0,0,0,0.4) 10px 10px;
    min-height: 500px;
    min-width: 800px;
}
