* {
    font-family: Arial;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    min-height: 600px;
    min-width: 400px;
    background-color: khaki;
}

@media (min-width: 610px) {
    body {
        overflow-x: hidden;
    }
}

@media (min-height: 610px) {
    body {
        overflow-y: hidden;
    }
}

#center-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 20px;
    justify-content: space-evenly;
    align-items: center;
}

#title {
    margin: 14px;
    font-size: 2em;
}

#by-me {
    margin: 14px;
    font-size: 1.2em;
}

#clock {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 4px solid black;
    border-radius: 20px;
    padding: 20px;
    background-color: mediumaquamarine;
    width: 500px;
}

#settings {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1.4em;
}

.option-change {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.option-change i {
    cursor: pointer;
}

    #show-time {
    border: 4px solid red;
    border-radius: 20px;
    background-color: white;
    padding: 8px;
    width: 70%;
    margin: 20px auto;
}

#timer-label {
    font-size: 2em;
}

#time-left {
    font-size: 2.5em;
}

#play-buttons {
    display: flex;
    justify-content: center;
}

#play-buttons input[type="checkbox"] {
    display: none;
}

    #play-buttons label i:last-child {
        display: none;
    }

    #play-buttons input:checked + label #pause-icon {
        display: block;
    }

    #play-buttons input:checked + label #play-icon {
        display: none;
    }

#play-buttons i {
    font-size: 1.2em;
    cursor: pointer;
    margin: 0 10px;
}

i:hover {
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    transform: scale(1.1);
    transition-duration: 0.12s;
}

i:active {
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    transform: scale(0.8);
}