* {
    font-family: Arial;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: olive;
}

#center-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 5px solid black;
    background-color: snow;
    box-shadow: rgba(0, 0, 0, 0.4) 10px 10px 10px 5px;
    padding: 30px;
    margin-top: 20px;
    min-height: 200px;
    cursor: crosshair;
}

#title {
    font-size: 2em;
    margin: 6px;
}

#content {
}

#my-name {
    margin: 6px;
    font-size: 1.2em;
    font-weight: 600;
    margin: 20px;
}

#tooltip {
    border: 2px solid black;
    background-color: white;
    padding: 6px;
}
